@model IEnumerable<SistemaFooFaMvc.Models.AlbumModel>

@{
	ViewBag.Title = "Foo Fighters Discography";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
	@foreach (var item in Model)
	{
		<section class="container">
			<div class="content">
				<div class="card">
					<img
						 src="@Html.DisplayFor(modelItem => item.Imagem)"
						 alt="Capa do album @Html.DisplayFor(modelItem => item.Titulo)" 
					/>
					<span>@Html.DisplayFor(modelItem => item.Descricao)</span>
				</div>
				<div class="card-container">
					<h4>@Html.DisplayFor(modelItem => item.Titulo)</h4>
					<p>@Html.DisplayFor(modelItem => item.Lancamento)</p>
				</div>
			</div>
		</section>
	}
</main>




